.test {
    min-width: 200px;
    min-height: 100px;
    outline: 1px solid red;
    position: relative;
}
.test::before {
    content: "test";
    color: red;
    position: absolute;
    inset: 20px auto 0 auto 20px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 268px;
}

form {
    margin-bottom: 1rem;
}

#search-recipe {
    width: min(400px,100%);
    background-color: #E7E7E7;
    padding: 0.6rem;
    border: 0 #E7E7E7;
}

.tag-container {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
}

.tag {
    display: flex;
    align-items: center;
    gap: 5px;
    height: min-content;
    background-color: #3282F7;
    color: white;
    border-radius: 10px;
    padding: 0 10px;
}

.filter-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.filter {
    color: white;
    padding: 1rem;
    position: absolute;
    z-index: 100;
    /* visibility: hidden; */
    display: none;
}

.filter ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem 1rem;
}

.filter ul li {
    list-style-type: none;
    display: block;
    cursor: pointer;
}

.filter ul li:hover {
    outline: 1px solid white;
    border-radius: 3px;
    outline-offset: .4rem;
}

.filter input, 
.filter input::placeholder {
    width: 100%;
    color: white;
    height: 2rem;
    border: 0;
    font-weight: 600;
    opacity: .7;
}

.filter-summary {
    color: white;
    height: min-content;
    padding: 0.5rem 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.ingredients,
.ingredients input,
.type-ingredients {
    background-color: #3282F7;   
}

.appareils,
.appareils input,
.type-appliances {
    background-color: #68D9A4;
}

.ustensiles,
.ustensiles input,
.type-ustensils {
    background-color: #ED6454;
}

#recipes-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.decoration-none {
    text-decoration: none;
    color: black;
}

#recipe {
    display: grid;
}

.recipe-img {
    width: 100%;
    aspect-ratio: 2/1;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}

.recipe-text {
    grid-template: "a a a a a a a b b b" 30px
                   "c c c c c d d d d d" 140px
                   / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #E7E7E7;
    border-radius: 0 0 5px 5px;
    display: grid;
    min-width: 0;
    padding: 1.2em;
}

article h2 {
    grid-area: a;
    font-size: 1.1em;
    margin: 0;
}

.time {
    grid-area: b;
    margin: 0;
    text-align: end;
}

.list-ingredients {
    grid-area: c;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description {
    grid-area: d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
